<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="fromName" value="Hüseyin Kayakıran" />
		<add key="fromAddress" value="kayakiranh@gmail.com" />
		<add key="password" value="pass123" />
		<add key="host" value="smtp.gmail.com" />
		<add key="port" value="587" />
		<add key="enableSsl" value="true" />
		<add key="useDefaultCredentials" value="false" />
	</appSettings>
</configuration>