<form asp-controller="Customer" asp-action="Login" method="post" class="d-flex">
    <input class="form-control me-2" id="LoginEmail" placeholder="Email Address" type="email" required />
    <input class="form-control me-2" id="LoginPassword" placeholder="Password" type="password" required />
	<button type="submit" class="btn btn-outline-success">Login</button>
</form>